{% extends 'pollApp/base.html' %}

{% block content %}

    <table class="table">
        <thead>
            <th scope="col">{{poll.question}}</th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{poll.option_1}}</th>
            <td>{{poll.option_1_count}}</td>
          </tr>

          <tr>
            <th scope="row">{{poll.option_2}}</th>
            <td>{{poll.option_2_count}}</td>
          </tr>

          <tr>
            <th scope="row">{{poll.option_3}}</th>
            <td>{{poll.option_3_count}}</td>
          </tr>

          <tr>
            <th scope="row">total</th>
            <td>{{poll.total}}</td>
          </tr>
        </tbody>
      </table>

  
{% endblock %}