{% extends 'pollApp/base.html' %}



{% block content %}


  <form method="post">
    {% csrf_token %}
  <table class="table">
    <thead>
        <th scope="col">
            {{poll.question}}
        </th>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option_1" name ="poll">
                {{poll.option_1}}
            </div>
        </th>
      </tr>

      <tr>
        <th scope="row">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option_2" name ="poll">
                {{poll.option_2}}
            </div>
        </th>
      </tr>

      <tr>
        <th scope="row">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option_3" name ="poll">
                {{poll.option_3}}
            </div>
        </th>
      </tr>
    </tbody>
  </table>
  
  <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}